version: '3.8'

services:
  # MySQL não é executado em produção - usar banco AWS/RDS ou serviço cloud.
  mysql:
    image: alpine:latest
    entrypoint: ["/bin/true"]
    restart: "no"

  mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog
    ports:
      - "1025:1025"  # SMTP
      - "8025:8025"  # Interface Web

  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    container_name: keycloak-prod
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-admin}
      KC_DB: mysql
      KC_DB_URL: ${KC_DB_URL:-jdbc:mysql://seu-banco-aws.rds.amazonaws.com:3306/keycloak?useSSL=true&serverTimezone=UTC}
      KC_DB_USERNAME: ${KC_DB_USERNAME:-keycloak}
      KC_DB_PASSWORD: ${KC_DB_PASSWORD:-senha_segura}
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME: ${KC_HOSTNAME:-seu-dominio.com}
      KC_PROXY: edge
    command: ["start", "--http-enabled=true", "--import-realm"]
    depends_on: []
    ports:
      - "8080:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
      - ./config-realm/financeiro-app:/opt/keycloak/data/import

volumes:
  keycloak_data:
